<body>
<div class="container">
  <form action="/members/plus" method="post">
    <div class="form-group">
      <input type="text" id="name1" name="num1" placeholder="num1">
      <input type="text" id="name2" name="num2" placeholder="num2">
    </div>
    <button type="submit">더하기</button>
  </form>
  <form action="/members/minus" method="post">
    <div class="form-group">
      <input type="text" id="name3" name="num1" placeholder="num1">
      <input type="text" id="name4" name="num2" placeholder="num2">
    </div>
    <button type="submit">빼기</button>
  </form>
  <form action="/members/mul" method="post">
    <div class="form-group">
      <input type="text" id="name5" name="num1" placeholder="num1">
      <input type="text" id="name6" name="num2" placeholder="num2">
    </div>
    <button type="submit">곱하기</button>
  </form>
  <form action="/members/div" method="post">
    <div class="form-group">
      <input type="text" id="name7" name="num1" placeholder="num1">
      <input type="text" id="name8" name="num2" placeholder="num2">
    </div>
    <button type="submit">나누기</button>
  </form>
</div> <!-- /container -->
</body>
</html>